<div class="w-auto ml-4 mr-4 cursor-pointer group/back">
<div class="group flex flex-row items-center gap-2 filter">
    <a
        role="menuitem" 
        aria-label="back" 
        href="/"
        class="bg-black rounded-full p-1 text-white peer
              hover:bg-purple focus:bg-purple
              focus:outline-none"
        >
        <i class="w-6 h-5 text-center fa fa-arrow-left"></i>
    </a>
    <label>Tornar</label>
  </div>

</div>

<!-- <i class="fa fa-arrow-left text-black mt-[5px] group-hover/back:text-white" aria-hidden="true"></i>
    <span class="ml-[15px] text-black group-hover/back:text-white" ">Tornar</span> -->