<!-- MENU -->
<div class="bg-white text-black p-6 flex flex-col justify-between border-r-2 mt-10">
    <h1 class="text-3xl font-bold mb-4 text-center">Accions</h1>
    <div class="flex flex-col flex-1">
      <!-- CREATE -->
      <div class="flex flex-col items-center group">
        <a href="/create" class="bg-black rounded-full text-white p-3 group-hover:bg-purple focus:outline-none">
          <i class="w-6 h-5 text-center fa-solid fa-plus"></i>
        </a>
        <span class="mt-2 opacity-0 group-hover:opacity-100 group-hover:mb-4 transition-opacity">Crear</span>
      </div>
      <!-- DELETE -->
      <div class="flex flex-col items-center group">
        <a href="/delete-mode" class="bg-black rounded-full text-white p-3 group-hover:bg-purple focus:outline-none">
          <i class="w-6 h-5 text-center fa-solid fa-minus"></i>
        </a>
        <span class="mt-2 opacity-0 group-hover:opacity-100 group-hover:mb-4 transition-opacity">Eliminar</span>
      </div>
      <hr />
      <!-- FILTRES -->
      <h1 class="text-3xl font-bold mt-4 mb-4 text-center">Filtres</h1>
      <!-- DONE -->
      <div class="flex flex-col items-center group">
        <div class="relative">
          <button id="done" class="bg-green rounded-full text-white p-2 group-hover:p-4 focus:outline-none w-5 h-5">
          </button>
        </div>
        <span class="mt-1 opacity-0 group-hover:opacity-100 group-hover:mb-4 transition-opacity">Acabades</span>
      </div>
      <!-- ONGOING -->
      <div class="flex flex-col items-center group">
        <div class="relative">
          <button id="ongoing" class="bg-orange rounded-full text-white p-2 group-hover:p-4 focus:outline-none w-5 h-5">
          </button>
        </div>
        <span class="mt-1 opacity-0 group-hover:opacity-100 group-hover:mb-4 transition-opacity">En curs</span>
      </div>
      <!-- PENDING -->
      <div class="flex flex-col items-center group">
        <div class="relative">
          <button id="pending" class="bg-gray rounded-full text-white p-2 group-hover:p-4 focus:outline-none w-5 h-5">
          </button>
        </div>
        <span class="mt-1 opacity-0 group-hover:opacity-100 group-hover:mb-4 transition-opacity">Pendents</span>
      </div>

      <!-- ALL -->
      <div class="flex flex-col items-center group">
        <div class="relative">
          <button id="all" class="bg-purple rounded-full text-white p-2 group-hover:p-4 focus:outline-none w-5 h-5">
          </button>
        </div>
        <span class="mt-1 opacity-0 group-hover:opacity-100 group-hover:mb-4 transition-opacity">Totes</span>
      </div>
    </div>
  </div>